[Desktop Entry]
Name=auvid
Comment=Audio & video downloader
Exec=auvid
Icon=io.github.IshuSinghSE.auvid
Type=Application
Categories=AudioVideo;Utility;
Terminal=false
StartupWMClass=auvid
Keywords=video;download;youtube;audio;
